Options +FollowSymlinks
RewriteEngine on

#============
# Carte
Rewriterule ^([a-z]+?)$ index.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)$ index.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)$ index.html?data=$1_$2_$3 [QSA,L]

#============
# File
Rewriterule ^([a-z]+?)-embed$ embed.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)-embed$ embed.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)-embed$ embed.html?data=$1_$2_$3 [QSA,L]

Rewriterule ^([a-z]+?)-embedfull$ embedfull.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)-embedfull$ embedfull.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)-embedfull$ embedfull.html?data=$1_$2_$3 [QSA,L]

#============
# Options
Rewriterule ^([a-z]+?)-([a-z]+?)$ index.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)-([a-z]+?)$ index.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)-([a-z]+?)$ index.html?data=$1_$2_$3 [QSA,L]

Rewriterule ^([a-z]+?)-embed-([a-z]+?)$ embed.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)-embed-([a-z]+?)$ embed.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)-embed-([a-z]+?)$ embed.html?data=$1_$2_$3 [QSA,L]

Rewriterule ^([a-z]+?)-embedfull-([a-z]+?)$ embedfull.html?data=$1 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)-embedfull-([a-z]+?)$ embedfull.html?data=$1_$2 [QSA,L]
Rewriterule ^([a-z]+?)_([a-z]+?)_([a-z]+?)-embedfull-([a-z]+?)$ embedfull.html?data=$1_$2_$3 [QSA,L]